a {
    background-color: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

h1 {
    color: purple;
}

p {
    color: blue;
    background-color: yellow;
}

h3 {
    color: pink;
    background-color: black;
}

img {
    height: auto;
    width: 600px;
}

.home {
    background-color: white;
}

.steps {
    font-family: "Brush Script MT", cursive;
}